# values.yaml
global:
  postgresql:
    username: "postgres"
    password: "costrict-postgres"
    database: postgres
    repmgrUsername: repmgr
    repmgrPassword: "repmgr"
    repmgrDatabase: "repmgr"
    existingSecret: ""
  defaultStorageClass: nfs-storage # 替换为你的 StorageClass

persistence:
    enabled: true
    size: 50Gi

postgresql:
  replicaCount: 3  # 至少 3 个节点以保证 quorum
  syncReplication: true
  syncReplicationMode: "FIRST"
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: "6"
      memory: 12Gi
  tls:
    enabled: false  # 若启用，请配置证书
    # kubectl create secret generic postgresql-tls-secret --from-file=./cert.crt --from-file=./cert.key --from-file=./ca.crt
    certificatesSecret: ""
    certFilename: ""
    certKeyFilename: ""
  # 连接设置
  maxConnections: "200"  # 增加最大连接数,不小于 pgpool配置中 numInitChildren * maxPool 实例数 
  postgresConnectionLimit: "128"  # postgres 用户的连接限制
  dbUserConnectionLimit: "128"  # 普通数据库用户的连接限制
  # statementTimeout: ""
  audit:
    logTimezone: "Asia/Shanghai"
    # 将客户端登录操作记录到日志文件 (默认关闭)
    logConnections: false
    # 	将客户端注销操作添加到日志文件 (默认关闭)
    logDisconnections: false
  # 初始化数据库
  initdbScripts:
    costrict-init.sql: |-
      -- Step 1: 创建用户（角色）costrict，并设置密码
      CREATE USER costrict WITH PASSWORD 'costrict';
      -- Step 2: 创建多个数据库，并指定 owner 为 costrict
      -- 这样 costrict 就拥有完全控制权（建表、删表、改结构等）
      CREATE DATABASE codebase_embedder ENCODING 'UTF8' OWNER costrict;
      CREATE DATABASE casdoor ENCODING 'UTF8' OWNER costrict;
      CREATE DATABASE codereview ENCODING 'UTF8' OWNER costrict;
      CREATE DATABASE auth ENCODING 'UTF8' OWNER costrict;
      CREATE DATABASE quota_manager ENCODING 'UTF8' OWNER costrict;


pgpool:
  replicaCount: 2  # 可扩展多个 Pgpool 实例
  adminUsername: "pgpool"
  adminPassword: "pgpool"
  srCheckUsername: "pgpool_check"
  srCheckPassword: "pgpool_check"
  useLoadBalancing: true
  logConnections: false
  logPerNodeStatement: false
  # max_pool*num_init_children <= (max_connections - superuser_reserved_connections) max_connections指的是业务最大连接数
  numInitChildren: 36 # 初始化连接数
  maxPool: 2 # 每个子进程最多缓存多少个到 PostgreSQL 的连接, 乘以numInitChildren就是真实连接数
  reservedConnections: 2 # 保留连接数
  # 生命周期管理:
  # 限制每个子进程在其生命周期内最多可以处理的客户端连接数，达到这个数量，子进程将会退出，并启动新的子进程。
  childMaxConnections: 1000 
  childLifeTime: 1200 # 空闲多久后终止子进程
  # clientIdleLimit: 1800  # 客户端空闲多久后断开,由客户端连接池管理。
  connectionLifeTime: 600 # 后端数据库连接的最大存活时间
  # 资源限制
  resources:
    requests:
      cpu: "2"
      memory: 256Mi
    limits:
      cpu: "6"
      memory: 12Gi
  customUsers:
    # 注意，与后续的初始化脚本中的用户名保持一致
    usernames: "costrict"
    passwords: "costrict"

backup:
  enabled: true
  cronjob:
    timeZone: Asia/Shanghai
    schedule: "0 0 * * *"
    successfulJobsHistoryLimit: 1
    storage:
      enabled: true
      size: 50Gi
      resourcePolicy: "keep"
      accessModes:
        - ReadWriteMany

metrics:
  enabled: true
  serviceMonitor:
    namespace: monitoring
    enabled: true

